
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    /*background-color:#e0e0e0;*/
    background-color:rgb(226, 226, 226);
    height:100%;
}
.mainWrapper {
    width:80%;
    margin:auto; 
    background-color:#FFFFFF;    
    border-radius:4px;
    height:100%;
}

.site-navbar {
    color:#fff;
    font-size:12px;
    text-transform:uppercase;
}

nav ul li a {
    color:#fff;
}

/*nav ul li span {
    padding-top:4px;
}*/
.brand-logo span {
    color:#fff;
}
